/* SMALL DEVICES */

@media screen and (min-width: 349px) and (max-width: 374px) {

    .navbar .navbar-brand {
      color: #0a7c00;
      font-weight: 900;
      font-size: 27px;
    }

    /* side bar button css */

    .nav-item{
        padding-top: 2px;
        font-size: 24px;
        font-weight:600
        
    }

    /* Front-Image Code */

    .img-fluid {
        padding-top: 50px;
    }
    
    /* Main Headline */
    .Main-Line {
        padding-top: 35px;
        padding-left: 05px;
        font-stretch: semi-expanded;
    }

    .container .head-front{
        padding-top: 12px;
        font-size:32px;
    }
    /* description css */

    .container .description {
        padding-left: 19px;
        font-size: 17px;
        padding-top: 18px;
        padding-bottom: 48px;
        color: #999;
    }
   

    .maharaja{
        font-size: 78px;
        padding-left: 2px;
        margin-bottom: 0px;
        margin-top: -20px;

    }
    
    .crown{
        margin-left: 267px;
        font-size: 43px;
        margin-top: -21px;
        margin-bottom: 5px;
        padding-top: 23px;
    }
   
    

    /* Button */

    .button-heading {
        padding-bottom: 12px;
        padding-left: 16px;
        font-size: 35px;
        color: rgb(0, 0, 0);
    }

    .blinking-cursor {
        display: inline-block;
        width: 2px;
        height: 1em;
        background-color: rgb(31, 29, 29);
        margin-left: 2px;
        animation: blink 0.6s step-end infinite;
        vertical-align: bottom;
        /* Adjust vertical alignment if necessary */
    }
    /* Optional: Additional styling for the platform element */
    #platform-name {
        font-family: "inter";
        font-size: 44px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: green;
    }
    
    @keyframes blink {

        from,
        to {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    /* main button ki settings */
    .search-form {
        display: flex;
        flex-direction: column;
        /* Stack items vertically */
        justify-content: center;
        align-items: center;
        /* Center items horizontally */
        margin-bottom: 20px;
        zoom: .8;
        padding-top: 12px;
    }

    /* input ki settings css*/

    .search-input {
        border: 3px solid #1a7e11;
        border-radius: 50px;
        padding: 21px 50px;
        font-size: 26px;
        width: 430px;
        outline: none;
        transition: all 0.3s ease;
        margin-bottom: 10px;
        /* Add space between input and button */
    }

    /* expand on click ki css */
    .search-input:focus {
        border-color: #2cb020;
        border-width: 0.223em;
    }

    /* second box ki css */
    .search-button {
        background-color: #1a7112;
        border: none;
        border-radius: 50px;
        padding: 18px 20px;
        font-size: 1.55em;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        max-width: 300px;
    }

    .search-button:hover {
        background-color: #0e8103;
    }

    /* placeholder ki settings */
    .search-input::placeholder {
        color: #999;
        /* Custom color for the placeholder */
        font-size: 29px;
        /* Adjust font size if needed */
        text-overflow: ellipsis;
        /* Handle long placeholder text */
        white-space: nowrap;
        overflow: hidden;
        padding-left: 13px;
    }

    /* dono button ka space gap css */
    .spacing {
        padding-top: 18px;

    }

    /* how it works */
    .working h2{
        font-size: 42px;
        margin-top: 12px;
        padding-top: 62px;
    }

    .working .video{
        padding-top: 18px;
    }
}


/* MEDIUM DEVICES */

@media screen and (min-width: 375px) and (max-width: 413px) {

    .navbar .navbar-brand {
      color: #0a7c00;
      font-weight: 900;
      font-size: 30px; /* Adjusted for medium size */
    }

    .nav-item {
        padding-top: 5px;
        font-size: 26px;
        font-weight: 600;
    }

    .img-fluid {
        padding-top: 40px; /* Adjusted for medium size */
    }
    
    .Main-Line {
        padding-top: 30px;
        padding-left: 11px;
        font-stretch: semi-expanded;
        /* font-size: 12px; */
    }

    .container .head-front {
        padding-top: 10px;
        font-size: 31px; /* Adjusted for medium size */
    }

    .container .description {
        padding-left: 16px;
        font-size: 18px; /* Adjusted for medium size */
        padding-top: 15px;
        padding-bottom: 40px;
        color: #999;
    }

    .maharaja {
        font-size: 80px; /* Adjusted for medium size */
        padding-left: -3px;
        margin-bottom: 0px;
        margin-top: -21px;
    }

    .crown {
        margin-left: 274px;
        font-size: 39px; /* Adjusted for medium size */
        margin-top: -18px;
        margin-bottom: 5px;
        padding-top: 20px;
        text-decoration: none;
    }
   
    .button-heading {
        padding-bottom: 10px;
        padding-left: 35px;
        font-size: 37px; /* Adjusted for medium size */
        color: rgb(0, 0, 0);
    }

    #platform-name {
        font-family: "inter";
        font-size: 46px; /* Adjusted for medium size */
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: green;
    }
    
    .search-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 18px;
        zoom: .85; /* Adjusted for medium size */
        padding-top: 10px;
        padding-left: 14px;
        /* position: relative; */
    }

    .search-input {
        border: 3px solid #1a7e11;
        border-radius: 50px;
        padding: 20px 48px; /* Adjusted for medium size */
        font-size: 27px; /* Adjusted for medium size */
        width: 420px; /* Adjusted for medium size */
        outline: none;
        transition: all 0.3s ease;
        margin-bottom: 8px;
    }

    .search-input:focus {
        border-color: #2cb020;
        border-width: 0.223em;
    }

    .search-button {
        background-color: #1a7112;
        border: none;
        border-radius: 50px;
        padding: 17px 19px; /* Adjusted for medium size */
        font-size: 1.5em;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        max-width: 290px; /* Adjusted for medium size */
    }

    .search-button:hover {
        background-color: #0e8103;
    }

    .search-input::placeholder {
        color: #999;
        font-size: 28px; /* Adjusted for medium size */
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 12px;
    }

    .spacing {
        padding-top: 16px;
    }

    .working h2 {
        font-size: 40px; /* Adjusted for medium size */
        margin-top: 10px;
        padding-top: 60px;
    }

    .working .video {
        padding-top: 16px;
    }
}


/* MEDIUM DEVICES */

@media screen and (min-width: 414px) and (max-width: 480px) {

    .navbar .navbar-brand {
      color: #0a7c00;
      font-weight: 900;
      font-size: 32px; /* Adjusted for larger medium size */
    }

    .nav-item {
        padding-top: 10px;
        font-size: 28px;
        font-weight: 600;
    }

    .img-fluid {
        padding-top: 30px; /* Adjusted for larger medium size */
    }
    
    .Main-Line {
        padding-top: 25px;
        padding-left: 20px;
        font-stretch: semi-expanded;
    }

    .container .head-front {
        padding-top: 8px;
        font-size: 36px; /* Adjusted for larger medium size */
    }

    .container .description {
        padding-left: 25px;
        font-size: 20px; /* Adjusted for larger medium size */
        padding-top: 10px;
        padding-bottom: 35px;
        color: #999;
    }

    .maharaja {
        font-size: 85px; /* Adjusted for larger medium size */
        padding-left: 15px;
        margin-bottom: 0px;
        margin-top: -20px;
    }

    .crown {
        margin-left: 300px;
        font-size: 42px; /* Adjusted for larger medium size */
        margin-top: -15px;
        margin-bottom: 5px;
        padding-top: 15px;
        text-decoration: none;
    }
   
    .button-heading {
        padding-bottom: 8px;
        padding-left: 40px;
        font-size: 40px; /* Adjusted for larger medium size */
        color: rgb(0, 0, 0);
    }

    #platform-name {
        font-family: "inter";
        font-size: 48px; /* Adjusted for larger medium size */
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: green;
    }
    
    .search-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        zoom: .9; /* Adjusted for larger medium size */
        padding-top: 12px;
        padding-left: 18px;
    }

    .search-input {
        border: 3px solid #1a7e11;
        border-radius: 50px;
        padding: 22px 50px; /* Adjusted for larger medium size */
        font-size: 28px; /* Adjusted for larger medium size */
        width: 450px; /* Adjusted for larger medium size */
        outline: none;
        transition: all 0.3s ease;
        margin-bottom: 10px;
    }

    .search-input:focus {
        border-color: #2cb020;
        border-width: 0.223em;
    }

    .search-button {
        background-color: #1a7112;
        border: none;
        border-radius: 50px;
        padding: 19px 21px; /* Adjusted for larger medium size */
        font-size: 1.6em;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        max-width: 300px; /* Adjusted for larger medium size */
    }

    .search-button:hover {
        background-color: #0e8103;
    }

    .search-input::placeholder {
        color: #999;
        font-size: 26px; /* Adjusted for larger medium size */
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 53px;
    }

    .spacing {
        padding-top: 18px;
    }

    .working h2 {
        font-size: 42px; /* Adjusted for larger medium size */
        margin-top: 12px;
        padding-top: 62px;
        padding-left: 27px;
    }

    .working .video {
        padding-top: 18px;
        width: 450px;
        padding-left: 54px ;
    }

    .nav-item .dropdown-item{
        font-size: 18.453px;

    }
}
