/* styles.css */

/* General Styles */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Navigation Bar */
.navbar {
    width: 100%;
    background-color: #333;
    padding: 11px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 3;
    padding: 0;
}

.navbar ul li {
    margin: 0 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar ul li:hover {
    background-color: rgb(255, 217, 147);
    transform: scale(1.21);
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff9800;

}

.navbar ul li {
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #fff; /* Add border around each navbar item */
    border-radius: 2px; /* Optional: Add rounded corners */
}


/* Container and Title */
.container {
    text-align: center;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    padding: 30px;
    width: 90%;
    max-width: 400px;
    margin-top: 330px;
    animation: fadeIn 0.6s ease-in-out;
}

.title {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: slideIn 1s ease-out;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Input and Button Styles */
input[type="url"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #444;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="url"]:focus {
    border-color: #ff9800;
    outline: none;
}

button {
    padding: 10px;
    font-size: 1.1em;
    color: #fff;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #e67e22;
    transform: translateY(-2px);
}

/* Spinner and Message Styles */
.hidden {
    display: none;
}

#loading-spinner {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border: 4px solid #f4f4f9;
    border-top: 4px solid #ff9800;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.message {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    text-align: center;
}

.message.success {
    color: #28a745;
    border: 2px solid #28a745;
}

.message.error {
    color: #dc3545;
    border: 2px solid #dc3545;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); }
    to { transform: translateY(0); }
}
